:root {
  --color-white: white;
  --color-primary: #9C27B0;
  --color-border-grey: #9e9e9e;
  .pointer {
    cursor: pointer;
  }
  .overflow-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
}